.mainGrid {
    display: flex;
    justify-content: center;
    align-items: center;
}

mainGrid {
    width: auto;
}

mainGrid thead {
    border-top: solid 3px lightgray;
    color: white;
}

mainGrid th {
    background: rgba(15, 22, 61, 0.897);
}

mainGrid th:first-of-type {
    border-left: none;
}

mainGrid th:last-of-type {
    border-right: none;
}